{
  "openapi": "3.0.0",
  "info": {
    "title": "Freyavoice API",
    "version": "2.0.0",
    "description": "Production API for managing calls and campaigns.\n\n**Authentication**: All endpoints require a bearer token issued by Freyavoice.\n\n**Response Format**: All responses are wrapped in a standard envelope:\n```json\n{\n  \"success\": true,\n  \"data\": {\n    \"message\": \"Success\",\n    \"result\": { /* endpoint-specific data */ }\n  }\n}\n```\n\nError responses follow the same format with `success: false`:\n```json\n{\n  \"success\": false,\n  \"data\": {\n    \"message\": \"Error description\",\n    \"result\": null\n  }\n}\n```",
    "contact": {
      "name": "Freyavoice Support",
      "email": "support@freyavoice.com"
    }
  },
  "servers": [
    {
      "url": "https://app.freyavoice.ai/api/v2",
      "description": "Production"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "WebhookCallOutcome": {
        "type": "object",
        "properties": {
          "callId": {
            "type": "string"
          },
          "campaignId": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string"
          },
          "outcome": {
            "type": "string",
            "enum": [
              "success",
              "failed"
            ]
          },
          "failureCategory": {
            "type": "string",
            "description": "SipCodeCategory value or 'api_error' if outcome is 'failed'"
          },
          "message": {
            "type": "string",
            "description": "Contextual message: ended_reason, timeout message, or LLM evaluation reason"
          },
          "willRetry": {
            "type": "boolean",
            "description": "Whether the call will be retried"
          },
          "retryScheduledAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO8601 timestamp when retry is scheduled"
          },
          "retriesRemaining": {
            "type": "number",
            "description": "Number of retries remaining"
          },
          "attemptNumber": {
            "type": "number",
            "description": "Which attempt this outcome is for (1-indexed)"
          }
        },
        "required": [
          "campaignId",
          "phoneNumber",
          "outcome"
        ]
      },
      "WebhookApiError": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string"
          },
          "outcome": {
            "type": "string",
            "enum": [
              "failed"
            ]
          },
          "failureCategory": {
            "type": "string",
            "enum": [
              "api_error"
            ]
          },
          "message": {
            "type": "string",
            "description": "Error message from API call failure"
          },
          "attemptNumber": {
            "type": "number"
          },
          "willRetry": {
            "type": "boolean"
          },
          "retryScheduledAt": {
            "type": "string",
            "format": "date-time"
          },
          "retriesRemaining": {
            "type": "number"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "campaignId",
          "phoneNumber",
          "outcome",
          "failureCategory",
          "message",
          "attemptNumber",
          "willRetry",
          "timestamp"
        ]
      },
      "RetryConditions": {
        "type": "array",
        "items": {
          "type": "string",
          "enum": [
            "Rejected",
            "Unreachable",
            "Busy",
            "No Answer",
            "Network Error",
            "Invalid",
            "Timeout",
            "Cancelled",
            "Resource Unavailable",
            "Service Unavailable",
            "Protocol Error",
            "Unspecified",
            "voicemail",
            "exceeded-max-duration"
          ]
        },
        "default": [
          "No Answer",
          "Busy",
          "Timeout",
          "Unreachable",
          "Network Error",
          "Resource Unavailable",
          "Service Unavailable",
          "voicemail"
        ],
        "description": "Array of call outcome values to retry on (SipCodeCategory + special endedReason values)"
      },
      "EndOfCallReport": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "end-of-call-report"
            ]
          },
          "callId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the call"
          },
          "workspaceId": {
            "type": "string",
            "format": "uuid",
            "description": "Workspace ID"
          },
          "summary": {
            "type": "string",
            "description": "AI-generated summary of the call"
          },
          "endedReason": {
            "type": "string",
            "description": "Reason why the call ended (e.g., 'customer-ended-call', 'assistant-ended-call')"
          },
          "durationMs": {
            "type": "number",
            "description": "Call duration in milliseconds"
          },
          "transcript": {
            "type": "string",
            "description": "Full conversation transcript with timestamps"
          },
          "status": {
            "type": "string",
            "description": "Call status code"
          },
          "callEndReasonCategory": {
            "type": "string",
            "description": "Call end reason category"
          },
          "customer": {
            "type": "string",
            "description": "Customer phone number"
          },
          "startedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO8601 timestamp when call started"
          },
          "endedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO8601 timestamp when call ended"
          },
          "recordingUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL to access the call recording"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "ISO8601 timestamp when webhook was sent"
          }
        },
        "required": [
          "type",
          "callId",
          "workspaceId",
          "durationMs",
          "status",
          "callEndReasonCategory",
          "customer",
          "startedAt",
          "endedAt",
          "recordingUrl",
          "timestamp"
        ]
      },
      "CampaignListResponse": {
        "type": "object",
        "properties": {
          "campaigns": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CampaignListItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "statusCounts": {
            "$ref": "#/components/schemas/CampaignStatusCounts"
          }
        },
        "required": [
          "campaigns",
          "pagination"
        ]
      },
      "CampaignListItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "assistantId": {
            "type": "string",
            "nullable": true
          },
          "phoneNumberId": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "scheduled",
              "active",
              "completed",
              "partially_completed"
            ],
            "default": "draft"
          },
          "startDate": {
            "type": "string",
            "nullable": true,
            "format": "date",
            "description": "When campaign starts (YYYY-MM-DD)"
          },
          "startTime": {
            "type": "string",
            "nullable": true,
            "pattern": "^\\d{2}:\\d{2}(:\\d{2})?$",
            "description": "Time on start date + retry window start (HH:MM)"
          },
          "timezone": {
            "type": "string",
            "default": "UTC",
            "description": "IANA timezone for all times"
          },
          "endTime": {
            "type": "string",
            "nullable": true,
            "pattern": "^\\d{2}:\\d{2}(:\\d{2})?$",
            "description": "Daily retry window end (HH:MM)"
          },
          "activeDays": {
            "type": "array",
            "items": {
              "type": "integer",
              "minimum": 0,
              "maximum": 6
            },
            "default": [
              0,
              1,
              2,
              3,
              4,
              5,
              6
            ],
            "description": "Days retries can happen (0=Monday, 6=Sunday)"
          },
          "phoneNumber": {
            "type": "string",
            "nullable": true
          },
          "callRetries": {
            "type": "integer",
            "minimum": 0,
            "maximum": 10,
            "default": 0
          },
          "retryDelaySeconds": {
            "type": "integer",
            "minimum": 0,
            "maximum": 86400,
            "default": 300,
            "description": "Delay between retries in seconds"
          },
          "retryDelayMode": {
            "type": "string",
            "enum": [
              "fixed",
              "next_day"
            ],
            "default": "fixed"
          },
          "retryConditions": {
            "$ref": "#/components/schemas/RetryConditions"
          },
          "endDate": {
            "type": "string",
            "nullable": true,
            "format": "date",
            "description": "@deprecated - No longer used"
          },
          "schedulingMode": {
            "type": "string",
            "enum": [
              "even",
              "fixed"
            ],
            "default": "even",
            "description": "@deprecated - No longer used"
          },
          "callIntervalSeconds": {
            "type": "integer",
            "minimum": 1,
            "maximum": 86400,
            "default": 30,
            "description": "@deprecated - No longer used"
          },
          "maxConcurrency": {
            "type": "integer",
            "minimum": 1,
            "maximum": 50,
            "default": 5,
            "description": "Internal parameter (hardcoded to 5)"
          },
          "webhookUrl": {
            "type": "string",
            "nullable": true
          },
          "customers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CampaignCustomer"
            },
            "default": []
          },
          "callIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": []
          },
          "roomNames": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": []
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CampaignEvent"
            },
            "default": []
          },
          "version": {
            "type": "string",
            "enum": [
              "v1",
              "v2"
            ],
            "default": "v1"
          },
          "workspaceId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "customerCount": {
            "type": "number"
          },
          "callCount": {
            "type": "number"
          }
        },
        "required": [
          "id",
          "name",
          "workspaceId",
          "createdAt",
          "updatedAt"
        ]
      },
      "CampaignCustomer": {
        "type": "object",
        "properties": {
          "phoneNumber": {
            "type": "string",
            "minLength": 1
          },
          "properties": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "nullable": true
            },
            "description": "Custom properties to pass to the agent"
          }
        },
        "required": [
          "phoneNumber"
        ]
      },
      "CampaignEvent": {
        "type": "object",
        "properties": {
          "event": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "message": {
            "type": "string"
          },
          "data": {
            "nullable": true
          }
        },
        "required": [
          "event",
          "timestamp",
          "metadata",
          "message"
        ]
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "total": {
            "type": "number"
          },
          "limit": {
            "type": "number"
          },
          "offset": {
            "type": "number"
          }
        },
        "required": [
          "total",
          "limit",
          "offset"
        ]
      },
      "CampaignStatusCounts": {
        "type": "object",
        "properties": {
          "all": {
            "type": "number"
          },
          "active": {
            "type": "number"
          },
          "scheduled": {
            "type": "number"
          },
          "completed": {
            "type": "number"
          },
          "partiallyCompleted": {
            "type": "number"
          },
          "draft": {
            "type": "number"
          }
        },
        "required": [
          "all",
          "active",
          "scheduled",
          "completed",
          "partiallyCompleted",
          "draft"
        ]
      },
      "CampaignResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "isScheduled": {
            "type": "boolean"
          },
          "campaign": {
            "$ref": "#/components/schemas/Campaign"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "status",
          "isScheduled",
          "campaign",
          "message"
        ]
      },
      "Campaign": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "assistantId": {
            "type": "string",
            "nullable": true
          },
          "phoneNumberId": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "scheduled",
              "active",
              "completed",
              "partially_completed"
            ],
            "default": "draft"
          },
          "startDate": {
            "type": "string",
            "nullable": true,
            "format": "date",
            "description": "When campaign starts (YYYY-MM-DD)"
          },
          "startTime": {
            "type": "string",
            "nullable": true,
            "pattern": "^\\d{2}:\\d{2}(:\\d{2})?$",
            "description": "Time on start date + retry window start (HH:MM)"
          },
          "timezone": {
            "type": "string",
            "default": "UTC",
            "description": "IANA timezone for all times"
          },
          "endTime": {
            "type": "string",
            "nullable": true,
            "pattern": "^\\d{2}:\\d{2}(:\\d{2})?$",
            "description": "Daily retry window end (HH:MM)"
          },
          "activeDays": {
            "type": "array",
            "items": {
              "type": "integer",
              "minimum": 0,
              "maximum": 6
            },
            "default": [
              0,
              1,
              2,
              3,
              4,
              5,
              6
            ],
            "description": "Days retries can happen (0=Monday, 6=Sunday)"
          },
          "phoneNumber": {
            "type": "string",
            "nullable": true
          },
          "callRetries": {
            "type": "integer",
            "minimum": 0,
            "maximum": 10,
            "default": 0
          },
          "retryDelaySeconds": {
            "type": "integer",
            "minimum": 0,
            "maximum": 86400,
            "default": 300,
            "description": "Delay between retries in seconds"
          },
          "retryDelayMode": {
            "type": "string",
            "enum": [
              "fixed",
              "next_day"
            ],
            "default": "fixed"
          },
          "retryConditions": {
            "$ref": "#/components/schemas/RetryConditions"
          },
          "endDate": {
            "type": "string",
            "nullable": true,
            "format": "date",
            "description": "@deprecated - No longer used"
          },
          "schedulingMode": {
            "type": "string",
            "enum": [
              "even",
              "fixed"
            ],
            "default": "even",
            "description": "@deprecated - No longer used"
          },
          "callIntervalSeconds": {
            "type": "integer",
            "minimum": 1,
            "maximum": 86400,
            "default": 30,
            "description": "@deprecated - No longer used"
          },
          "maxConcurrency": {
            "type": "integer",
            "minimum": 1,
            "maximum": 50,
            "default": 5,
            "description": "Internal parameter (hardcoded to 5)"
          },
          "webhookUrl": {
            "type": "string",
            "nullable": true
          },
          "customers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CampaignCustomer"
            },
            "default": []
          },
          "callIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": []
          },
          "roomNames": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": []
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CampaignEvent"
            },
            "default": []
          },
          "version": {
            "type": "string",
            "enum": [
              "v1",
              "v2"
            ],
            "default": "v1"
          },
          "workspaceId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "workspaceId",
          "createdAt",
          "updatedAt"
        ]
      },
      "PostCampaignRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "assistantId": {
            "type": "string",
            "description": "ID of the AI assistant"
          },
          "assistantName": {
            "type": "string",
            "description": "Name of the AI assistant (alternative to assistantId)"
          },
          "description": {
            "type": "string"
          },
          "startDate": {
            "type": "string",
            "format": "date",
            "description": "When campaign starts (YYYY-MM-DD). Omit for immediate start."
          },
          "startTime": {
            "type": "string",
            "pattern": "^\\d{2}:\\d{2}(:\\d{2})?$",
            "description": "Time on start date (HH:MM). Also defines retry window start."
          },
          "timezone": {
            "type": "string",
            "default": "UTC",
            "description": "IANA timezone for all times (e.g., Europe/Prague)"
          },
          "endTime": {
            "type": "string",
            "pattern": "^\\d{2}:\\d{2}(:\\d{2})?$",
            "description": "Daily retry window end (HH:MM). Retries only happen between startTime-endTime."
          },
          "activeDays": {
            "type": "array",
            "items": {
              "type": "integer",
              "minimum": 0,
              "maximum": 6
            },
            "default": [
              0,
              1,
              2,
              3,
              4,
              5,
              6
            ],
            "description": "Days retries can happen (0=Monday, 6=Sunday)"
          },
          "phoneNumber": {
            "type": "string",
            "description": "Caller ID phone number"
          },
          "callRetries": {
            "type": "integer",
            "minimum": 0,
            "maximum": 10,
            "default": 0,
            "description": "Number of retry attempts (0-10)"
          },
          "retryDelaySeconds": {
            "type": "integer",
            "minimum": 0,
            "maximum": 86400,
            "default": 300,
            "description": "Delay between retries in seconds (0-86400)"
          },
          "retryDelayMode": {
            "type": "string",
            "enum": [
              "fixed",
              "next_day"
            ],
            "default": "fixed"
          },
          "retryConditions": {
            "$ref": "#/components/schemas/RetryConditions"
          },
          "webhookUrl": {
            "type": "string"
          },
          "customers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CampaignCustomer"
            },
            "default": [],
            "description": "List of customers to call"
          },
          "phoneList": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Simple list of phone numbers (alternative to customers)"
          },
          "workspaceId": {
            "type": "string"
          }
        },
        "required": [
          "name"
        ]
      },
      "DeleteCampaignsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "deletedCount": {
            "type": "number"
          }
        },
        "required": [
          "success",
          "deletedCount"
        ]
      },
      "CampaignDetailsResponse": {
        "type": "object",
        "properties": {
          "campaign": {
            "$ref": "#/components/schemas/Campaign"
          }
        },
        "required": [
          "campaign"
        ]
      },
      "CampaignCustomersResponse": {
        "type": "object",
        "properties": {
          "customers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CampaignCustomerRow"
            }
          },
          "propertyKeys": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Available property keys for dynamic columns"
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "statusCounts": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            }
          }
        },
        "required": [
          "customers",
          "propertyKeys",
          "pagination",
          "statusCounts"
        ]
      },
      "CampaignCustomerRow": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string"
          },
          "properties": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "nullable": true
            }
          },
          "retryStatus": {
            "$ref": "#/components/schemas/RetryStatus"
          },
          "callCount": {
            "type": "number"
          },
          "createdAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "phoneNumber",
          "properties",
          "retryStatus",
          "callCount",
          "createdAt"
        ]
      },
      "RetryStatus": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "nullable": true,
            "enum": [
              "pending",
              "in_progress",
              "retrying",
              "success",
              "failed",
              "canceled",
              null
            ]
          },
          "attempts": {
            "type": "number"
          },
          "lastAttemptAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "nextRetryAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "callIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "status",
          "attempts",
          "lastAttemptAt",
          "nextRetryAt",
          "callIds"
        ]
      },
      "PostPocResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "campaignId": {
            "type": "string"
          },
          "callId": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "status",
          "campaignId",
          "callId",
          "message"
        ]
      },
      "PostPocRequest": {
        "type": "object",
        "properties": {
          "destination": {
            "type": "string",
            "minLength": 1,
            "description": "Destination phone number in E.164 format"
          },
          "agentId": {
            "type": "string",
            "pattern": "^\\d+$",
            "description": "Agent ID to use for the call"
          },
          "workspaceId": {
            "type": "string",
            "minLength": 1,
            "format": "uuid",
            "description": "Workspace ID"
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Custom properties to pass to the agent"
          }
        },
        "required": [
          "destination",
          "agentId",
          "workspaceId"
        ]
      },
      "CampaignJobsResponse": {
        "type": "object",
        "properties": {
          "jobs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JobTimelineEntry"
            }
          },
          "retryConnections": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "fromJobId": {
                  "type": "string"
                },
                "toJobId": {
                  "type": "string"
                },
                "phoneNumber": {
                  "type": "string"
                }
              },
              "required": [
                "fromJobId",
                "toJobId",
                "phoneNumber"
              ]
            }
          },
          "queuedCount": {
            "type": "number",
            "description": "Number of jobs not yet started"
          },
          "timeRange": {
            "type": "object",
            "properties": {
              "startDate": {
                "type": "string",
                "nullable": true
              },
              "endDate": {
                "type": "string",
                "nullable": true
              },
              "startTime": {
                "type": "string",
                "nullable": true
              },
              "endTime": {
                "type": "string",
                "nullable": true
              },
              "timezone": {
                "type": "string"
              },
              "firstJob": {
                "type": "string",
                "nullable": true
              },
              "lastJob": {
                "type": "string",
                "nullable": true
              }
            },
            "required": [
              "startDate",
              "endDate",
              "startTime",
              "endTime",
              "timezone",
              "firstJob",
              "lastJob"
            ]
          },
          "stats": {
            "type": "object",
            "properties": {
              "total": {
                "type": "number"
              },
              "pending": {
                "type": "number"
              },
              "running": {
                "type": "number"
              },
              "completed": {
                "type": "number"
              },
              "failed": {
                "type": "number"
              },
              "cancelled": {
                "type": "number"
              }
            },
            "required": [
              "total",
              "pending",
              "running",
              "completed",
              "failed",
              "cancelled"
            ]
          }
        },
        "required": [
          "jobs",
          "retryConnections",
          "queuedCount",
          "timeRange",
          "stats"
        ]
      },
      "JobTimelineEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string"
          },
          "scheduledAt": {
            "type": "string",
            "format": "date-time"
          },
          "startedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "jobStatus": {
            "type": "string",
            "enum": [
              "pending",
              "claimed",
              "running",
              "completed",
              "failed",
              "cancelled"
            ]
          },
          "jobType": {
            "type": "string"
          },
          "attemptNumber": {
            "type": "number"
          },
          "lastError": {
            "type": "string"
          },
          "result": {
            "type": "object",
            "nullable": true,
            "properties": {
              "outcome": {
                "type": "string",
                "enum": [
                  "pending",
                  "in_progress",
                  "success",
                  "failed",
                  "canceled",
                  "rescheduled",
                  "human_callback_requested",
                  "skipped",
                  "verification_pending"
                ]
              },
              "call_id": {
                "type": "string"
              },
              "willRetry": {
                "type": "boolean"
              },
              "failureCategory": {
                "type": "string"
              },
              "retriesRemaining": {
                "type": "number"
              },
              "retryScheduledAt": {
                "type": "string"
              },
              "error": {
                "type": "string"
              },
              "reason": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            },
            "additionalProperties": {
              "nullable": true
            }
          },
          "callEndedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "callDurationSeconds": {
            "type": "number",
            "nullable": true
          }
        },
        "required": [
          "id",
          "phoneNumber",
          "scheduledAt",
          "startedAt",
          "jobStatus",
          "jobType",
          "attemptNumber",
          "callEndedAt",
          "callDurationSeconds"
        ]
      },
      "CancelAllJobsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "cancelledJobsCount": {
            "type": "number",
            "description": "Number of jobs cancelled"
          },
          "affectedPhoneNumbers": {
            "type": "number",
            "description": "Number of unique customers affected"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "success",
          "cancelledJobsCount",
          "affectedPhoneNumbers",
          "message"
        ]
      },
      "RetryAllJobsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "retriesCreated": {
            "type": "number",
            "description": "Number of retry jobs created"
          },
          "skipped": {
            "type": "object",
            "properties": {
              "count": {
                "type": "number"
              },
              "reasons": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "required": [
              "count",
              "reasons"
            ]
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "success",
          "retriesCreated",
          "skipped",
          "message"
        ]
      },
      "CancelJobResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "job": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "phoneNumber": {
                "type": "string"
              },
              "status": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "phoneNumber",
              "status"
            ]
          },
          "contactOutcomeUpdated": {
            "type": "boolean",
            "description": "Whether this was the last pending job for the customer"
          }
        },
        "required": [
          "success",
          "job",
          "contactOutcomeUpdated"
        ]
      },
      "RetryJobResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "newJob": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "New retry job ID"
              },
              "phoneNumber": {
                "type": "string"
              },
              "scheduledAt": {
                "type": "string",
                "format": "date-time"
              },
              "attemptNumber": {
                "type": "number",
                "description": "Attempt number for this customer"
              }
            },
            "required": [
              "id",
              "phoneNumber",
              "scheduledAt",
              "attemptNumber"
            ]
          }
        },
        "required": [
          "success",
          "newJob"
        ]
      },
      "RescheduleJobResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "job": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "phoneNumber": {
                "type": "string"
              },
              "oldScheduledAt": {
                "type": "string",
                "format": "date-time"
              },
              "newScheduledAt": {
                "type": "string",
                "format": "date-time"
              }
            },
            "required": [
              "id",
              "phoneNumber",
              "oldScheduledAt",
              "newScheduledAt"
            ]
          }
        },
        "required": [
          "success",
          "job"
        ]
      },
      "PostExportResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "downloadUrl": {
            "type": "string",
            "format": "uri",
            "description": "Signed URL to download the export"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "success",
          "message"
        ]
      },
      "PostExportRequest": {
        "type": "object",
        "properties": {
          "endpoint": {
            "type": "string",
            "enum": [
              "/api/v2/call",
              "/api/v2/campaign",
              "/api/v2/phone-numbers",
              "/api/v2/solutions/runs",
              "/api/v2/problems"
            ],
            "description": "API endpoint to export data from"
          },
          "params": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Query parameters to pass to the endpoint (must include workspaceId)"
          },
          "format": {
            "type": "string",
            "enum": [
              "csv",
              "xlsx",
              "markdown",
              "json"
            ],
            "default": "csv",
            "description": "Export file format"
          },
          "deliveryMethod": {
            "type": "string",
            "enum": [
              "download",
              "email"
            ],
            "default": "download",
            "description": "How to deliver the export"
          },
          "email": {
            "type": "string",
            "nullable": true,
            "format": "email",
            "description": "Email address for email delivery"
          }
        },
        "required": [
          "endpoint",
          "params"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/campaign": {
      "get": {
        "summary": "List campaigns",
        "description": "Returns campaigns for a workspace with filters, sorting, pagination, and export support.",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "format": "uuid",
              "description": "Workspace identifier"
            },
            "required": true,
            "description": "Workspace identifier",
            "name": "workspaceId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "default": "25",
              "description": "Page size"
            },
            "required": false,
            "description": "Page size",
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "default": "0",
              "description": "Offset for pagination"
            },
            "required": false,
            "description": "Offset for pagination",
            "name": "offset",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Base64-encoded filter state"
            },
            "required": false,
            "description": "Base64-encoded filter state",
            "name": "filters",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Global search term"
            },
            "required": false,
            "description": "Global search term",
            "name": "search",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Sort field name"
            },
            "required": false,
            "description": "Sort field name",
            "name": "sortBy",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "description": "Sort direction"
            },
            "required": false,
            "description": "Sort direction",
            "name": "sortOrder",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Set to 'true' to return a file export"
            },
            "required": false,
            "description": "Set to 'true' to return a file export",
            "name": "export",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "csv",
                "xlsx",
                "markdown"
              ],
              "description": "Export file format"
            },
            "required": false,
            "description": "Export file format",
            "name": "exportFormat",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "JSON array of column definitions {id,label}"
            },
            "required": false,
            "description": "JSON array of column definitions {id,label}",
            "name": "exportColumns",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Campaigns with pagination and status counts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "result": {
                          "$ref": "#/components/schemas/CampaignListResponse"
                        }
                      },
                      "required": [
                        "message",
                        "result"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "result": {
                          "nullable": true
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "result": {
                          "nullable": true
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "result": {
                          "nullable": true
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create campaign",
        "description": "Creates an outbound voice campaign and schedules calls to the provided customers.",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostCampaignRequest"
              },
              "example": {
                "name": "Q1 Customer Outreach",
                "assistantId": "agent_abc123",
                "description": "Follow-up calls for Q1 leads",
                "startDate": "2024-03-15",
                "startTime": "09:00",
                "endTime": "17:00",
                "timezone": "America/New_York",
                "activeDays": [
                  0,
                  1,
                  2,
                  3,
                  4
                ],
                "phoneNumber": "+14155551234",
                "callRetries": 3,
                "retryDelaySeconds": 3600,
                "retryDelayMode": "fixed",
                "webhookUrl": "https://api.example.com/webhook/campaign",
                "customers": [
                  {
                    "phoneNumber": "+14155559001",
                    "properties": {
                      "name": "John Doe",
                      "company": "Acme Inc"
                    }
                  },
                  {
                    "phoneNumber": "+14155559002",
                    "properties": {
                      "name": "Jane Smith",
                      "company": "Tech Corp"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "result": {
                          "$ref": "#/components/schemas/CampaignResponse"
                        }
                      },
                      "required": [
                        "message",
                        "result"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "result": {
                          "nullable": true
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "result": {
                          "nullable": true
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Phone number or assistant not found"
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "result": {
                          "nullable": true
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Bulk delete campaigns",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "format": "uuid",
              "description": "Workspace ID"
            },
            "required": true,
            "description": "Workspace ID",
            "name": "workspaceId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Comma-separated campaign IDs to delete"
            },
            "required": true,
            "description": "Comma-separated campaign IDs to delete",
            "name": "campaignIds",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "result": {
                          "$ref": "#/components/schemas/DeleteCampaignsResponse"
                        }
                      },
                      "required": [
                        "message",
                        "result"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "result": {
                          "nullable": true
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "result": {
                          "nullable": true
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "result": {
                          "nullable": true
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/campaign/{campaignId}": {
      "get": {
        "summary": "Get campaign",
        "description": "Returns campaign configuration, customers, events, and call IDs.",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "format": "uuid",
              "description": "Campaign ID"
            },
            "required": true,
            "description": "Campaign ID",
            "name": "campaignId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "format": "uuid",
              "description": "Workspace ID"
            },
            "required": true,
            "description": "Workspace ID",
            "name": "workspaceId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "result": {
                          "$ref": "#/components/schemas/CampaignDetailsResponse"
                        }
                      },
                      "required": [
                        "message",
                        "result"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "result": {
                          "nullable": true
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "result": {
                          "nullable": true
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found"
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "result": {
                          "nullable": true
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete campaign",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "format": "uuid",
              "description": "Campaign ID"
            },
            "required": true,
            "description": "Campaign ID",
            "name": "campaignId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "format": "uuid",
              "description": "Workspace ID"
            },
            "required": true,
            "description": "Workspace ID",
            "name": "workspaceId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "result": {
                          "$ref": "#/components/schemas/DeleteCampaignsResponse"
                        }
                      },
                      "required": [
                        "message",
                        "result"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "result": {
                          "nullable": true
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "result": {
                          "nullable": true
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found"
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "result": {
                          "nullable": true
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/campaign/{campaignId}/customers": {
      "get": {
        "summary": "List campaign customers",
        "description": "Returns customers for a campaign with retry status, property keys, pagination, and exports.",
        "tags": [
          "Campaign Customers"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "format": "uuid",
              "description": "Campaign ID"
            },
            "required": true,
            "description": "Campaign ID",
            "name": "campaignId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "format": "uuid",
              "description": "Workspace ID"
            },
            "required": true,
            "description": "Workspace ID",
            "name": "workspaceId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "default": "25",
              "description": "Page size"
            },
            "required": false,
            "description": "Page size",
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "default": "0",
              "description": "Offset for pagination"
            },
            "required": false,
            "description": "Offset for pagination",
            "name": "offset",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Base64-encoded filter state"
            },
            "required": false,
            "description": "Base64-encoded filter state",
            "name": "filters",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Global search term"
            },
            "required": false,
            "description": "Global search term",
            "name": "search",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Sort field name"
            },
            "required": false,
            "description": "Sort field name",
            "name": "sortBy",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "description": "Sort direction"
            },
            "required": false,
            "description": "Sort direction",
            "name": "sortOrder",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Set to 'true' to return a file export"
            },
            "required": false,
            "description": "Set to 'true' to return a file export",
            "name": "export",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "csv",
                "xlsx",
                "markdown"
              ],
              "description": "Export file format"
            },
            "required": false,
            "description": "Export file format",
            "name": "exportFormat",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "JSON array of column definitions {id,label}"
            },
            "required": false,
            "description": "JSON array of column definitions {id,label}",
            "name": "exportColumns",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Customers with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "result": {
                          "$ref": "#/components/schemas/CampaignCustomersResponse"
                        }
                      },
                      "required": [
                        "message",
                        "result"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "result": {
                          "nullable": true
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "result": {
                          "nullable": true
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found"
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "result": {
                          "nullable": true
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/campaign/poc": {
      "post": {
        "summary": "Create POC call",
        "description": "Creates a single proof-of-concept call for testing.",
        "tags": [
          "POC"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostPocRequest"
              },
              "example": {
                "destination": "+14155559999",
                "agentId": "agent_abc123",
                "workspaceId": "550e8400-e29b-41d4-a716-446655440000",
                "properties": {
                  "customerName": "Test User",
                  "accountId": "12345"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "POC call created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "result": {
                          "$ref": "#/components/schemas/PostPocResponse"
                        }
                      },
                      "required": [
                        "message",
                        "result"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "result": {
                          "nullable": true
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "result": {
                          "nullable": true
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Agent not found"
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "result": {
                          "nullable": true
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/campaign/{campaignId}/jobs": {
      "get": {
        "summary": "List campaign jobs",
        "description": "Returns all jobs for a campaign including timeline visualization data, retry connections, and statistics.",
        "tags": [
          "Campaign Jobs"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "format": "uuid",
              "description": "Campaign ID"
            },
            "required": true,
            "description": "Campaign ID",
            "name": "campaignId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Workspace ID"
            },
            "required": true,
            "description": "Workspace ID",
            "name": "workspaceId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign jobs with timeline data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "result": {
                          "$ref": "#/components/schemas/CampaignJobsResponse"
                        }
                      },
                      "required": [
                        "message",
                        "result"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "result": {
                          "nullable": true
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "result": {
                          "nullable": true
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found"
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "result": {
                          "nullable": true
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/campaign/{campaignId}/jobs/cancel-all": {
      "post": {
        "summary": "Cancel all pending jobs",
        "description": "Cancels all pending and claimed jobs in the campaign. Updates contact outcomes to 'canceled'.",
        "tags": [
          "Campaign Jobs"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "format": "uuid",
              "description": "Campaign ID"
            },
            "required": true,
            "description": "Campaign ID",
            "name": "campaignId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Workspace ID"
            },
            "required": true,
            "description": "Workspace ID",
            "name": "workspaceId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Jobs cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "result": {
                          "$ref": "#/components/schemas/CancelAllJobsResponse"
                        }
                      },
                      "required": [
                        "message",
                        "result"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "result": {
                          "nullable": true
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "result": {
                          "nullable": true
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found"
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "result": {
                          "nullable": true
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/campaign/{campaignId}/jobs/retry-all": {
      "post": {
        "summary": "Retry all failed jobs",
        "description": "Creates retry jobs for all customers with failed or canceled outcomes. Skips customers with pending jobs.",
        "tags": [
          "Campaign Jobs"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "format": "uuid",
              "description": "Campaign ID"
            },
            "required": true,
            "description": "Campaign ID",
            "name": "campaignId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Workspace ID"
            },
            "required": true,
            "description": "Workspace ID",
            "name": "workspaceId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Retry jobs created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "result": {
                          "$ref": "#/components/schemas/RetryAllJobsResponse"
                        }
                      },
                      "required": [
                        "message",
                        "result"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "result": {
                          "nullable": true
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "result": {
                          "nullable": true
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found"
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "data": {
[...]
